# Ignore Python bytecode files
*.pyc

# Ignore database files

# Ignore virtual environment directories
/virt/

# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE and editor files
.idea/
.vscode/

##############
/test/
manage.py
__pycache__
babel.cfg
translations
messages.pot
/migrations/
