body {
    background: #36353a;
    color: white;
}

main {
    margin-top: 64px;
}

.page-item.active .page-link {
    background: #636161 !important;
    color: #ffffff !important;
    border-color: #636161;
}

.page-link {
    color: #000000 !important;
}

.profile {
    max-height: 450px;
    background: #212529;
}

.post {
    background: #212529;
    color: white;
    border: none;
}

.edit-profile {
    background: #212529;
    color: white;
    border: none;
}

.form-field,
.form-field:focus {
    background: #212529;
    color: white;
}

.img-thumbnail {
    border-width: 0 !important;
    border-radius: 50%;
}

.post-time {
    font-size: 13px !important;
    color: #918b8b;
}