body {
    background: #36353a;
    color: white;
}

main {
    margin-top: 64px;
}

.page-item.active .page-link {
    background: #636161 !important;
    color: #ffffff !important;
    border-color: #636161;
}

.page-link {
    color: #000000 !important;
}

.profile {
    max-height: 450px;
    background: #212529;
}

.post {
    background: #212529;
    color: white;
    border: none;
}

.edit-profile {
    background: #212529;
    color: white;
    border: none;
    width: 70vh;
}

.create-post {
    background: #212529;
    color: white;
    border: none;
}

.form-field,
.form-field:focus {
    background: #212529;
    color: white;
}

.img-thumbnail {
    border-width: 0 !important;
    border-radius: 50%;
}

.post-time {
    font-size: 13px !important;
    color: #918b8b;
}


.upload{
  width: 100px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}
