{% extends "views/base.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<div class="container pt-4 custom-container">
    <div class="row justify-content-center custom-image-row">
        <img
            class="rounded-1 custom-image"
            src="{{ url_for('static', filename='img/' + post.cover) }}"
            alt="{{ post.title }}"
        />
    </div>
    <div class="row mt-3 justify-content-center custom-content-row">
        <div class="col-md-8 custom-content shadow-lg">
            <div>{{ post.title }}</div>
            <hr>
            <div>{{ post.content|safe }}</div>
        </div>
    </div>
</div>
{% endblock content %}
