{% extends "views/base.html" %}{% block title %}Search{% endblock title %} {%
block content %}
<h2 class="p-2">Search results:</h2>
<div class="d-grid p-4 gy-5">
  {% if posts %}{% include "views/_posts.html" %}{% else %}
  <p>Your search could not be found</p>
  {% endif %}

  <nav aria-label="Page navigation bg-dark-subtle" class="row mt-5">
    <ul
      class="pagination justify-content-center text-secondary d-flex justify-content-between">
      {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link text-secondary" href="{{ prev_url }}"
          ><span aria-hidden="true" class="text-white">Previous</span></a
        >
      </li>
      {% endif %} {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link text-secondary" href="{{ next_url }}"
          ><span aria-hidden="true" class="text-white">Next</span></a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}
